{% extends "blog/base.html" %} {% load static %} {% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sunt similique quos, iste ut tempore perferendis debitis deserunt iure quaerat.
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem non ex soluta, laborum dolor saepe autem necessitatibus laudantium pariatur vero ipsum? Repudiandae quam deleniti quaerat ullam temporibus veniam, doloremque vero corporis eum praesentium
    quasi aspernatur enim eligendi fugit optio et nulla, dignissimos ipsum similique accusantium reprehenderit odio! Animi, corrupti nemo.</p>

{% endblock content %}